.container {
  width: 1170px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 999;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
